<DOCTYPE html>
    <html>

    <head>
        <title>Actor</title>
        <meta charset="utf-8">

        <link rel="Stylesheet" type="text/CSS" href="app.component.css">
    </head>

    <body>
        <header>
            <div class="start">

                <p id="t">
                    <img src="../assets/Logo.png" alt="Symbol" height=40px width=40px> Actors Of Bollywood
                </p>

                <ul>
                    <li><a class="active" href="app.component.html">Home</a></li>
                    <li><a href="app.Varun_Dhavan.html">Varun Dhavan</a></li>
                    <li><a href="app.Alia_bhatt.html">Alia Bhatt</a></li>
                    <li><a href="app.Sonu_sood.html">Sonu sood</a></li>
                    <li><a href="app.Contact_us.html">Contact Us</a></li>
                    <li><a href="app.About_us.html">About</a></li>
                </ul>
            </div>
        </header>
        <h1 class="wel">Welcome To This Page! <br>Choose your Favorite Actor and get information about him/her.</h1>
        <footer>
            <div id="f">
                <img src="../assets/Logo.png" alt="Symbol Of Destiny Places" height=40px width=40px> Actors Of Bollywood
            </div>
            Follow this Page to know your favourite Actors.<br> This image is subject to copyright ©️
            <div class="symbols">
                <img src="../assets/Facebook.png" alt="F" height=35px width=35px>
                <img src="../assets/twitter.png" alt="t" height=35px width=35px>
                <img src="../assets/instagram.png" alt="" height=35px width=35px>
                <img src="../assets/Whatsapp.png" alt="W" height=35px width=35px>

            </div>
        </footer>

        </header>
    </body>

    </html>