body {
    background-color: rgb(0, 0, 0);
    color: rgb(126, 235, 18);
}

div.start {
    background-color: rgb(0, 255, 21);
    text-align: center;
    border: 10px solid rgb(146, 255, 4);
    flex-wrap: wrap;
}

#t {
    color: rgb(0, 0, 0);
    font-size: 0.75cm;
    text-transform: uppercase;
    font-weight: bold;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(72, 187, 131);
    border-top: 10px solid rgb(2, 255, 128);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(28, 80, 33);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(125, 199, 116);
}

.active {
    background-color: rgb(8, 145, 42);
    color: rgb(0, 0, 0);
}

#f {
    color: rgb(0, 0, 0);
    font-size: 0.75cm;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(32, 216, 16);
    color: rgb(0, 0, 0);
    flex-wrap: wrap;
}

.symbols {
    text-align: end;
}

.VD {
    color: rgb(112, 194, 31);
    font-size: 75px;
}

#head {
    color: rgb(144, 202, 86);
    font-size: 1cm;
    text-align: center;
    flex-wrap: wrap;
}

.intro {
    color: rgb(255, 255, 255);
    font-size: .5cm;
    flex-wrap: wrap;
}